<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<h1>Welcome, <span th:text="${name}">User</span></h1>

<p>User Name: <b><span th:text="${username}">Given Name</span></b></p>
<p>Maker Role: <b><span th:text="${makerRole}">No</span></b></p>
<p>Checker Role: <b><span th:text="${checkerRole}">No</span></b></p>
<p>Limits API Data: <b><span th:text="${dailyLimit}">No</span></b></p>

<br>
<a href="/logout">Logout</a>
</body>
</html>
